<div class="catalogo-container">
  <div class="catalogo-header">
  <span class="catalogo-contexto" *ngIf="!terminoBusqueda">Catálogo</span>
  <div class="busqueda-header" *ngIf="terminoBusqueda">
    <span class="busqueda-contexto">Resultados de búsqueda</span>
    <div class="busqueda-titulo">
      <h1>'{{ terminoBusqueda }}'</h1>
      <button class="quitar-busqueda" (click)="quitarBusqueda()">✕</button>
    </div>
  </div>
  <h1 *ngIf="!terminoBusqueda">Catálogo</h1>
</div>

  <div class="filtros">
    <button
      *ngFor="let cat of categorias"
      [class.active]="categoriaActiva === cat.valor"
      (click)="filtrarPor(cat.valor)">
      {{ cat.label }}
    </button>
  </div>

  <p *ngIf="loading">Cargando productos...</p>

  <div class="grid" *ngIf="!loading">
    <a class="card" *ngFor="let p of productos" [routerLink]="['/productos', p.id]">
      <div class="card-img">
        <button class="fav-btn" [class.active]="favoritoIds.has(p.id)"
          (click)="toggleFavorito(p.id, $event)">
          {{ favoritoIds.has(p.id) ? '♥' : '♡' }}
        </button>
        <img [src]="p.imagenes[0]" [alt]="p.nombre" onerror="this.style.display='none'">
      </div>
      <div class="card-info">
        <span class="card-marca">{{ p.marca }}</span>
        <span class="card-nombre">{{ p.nombre }}</span>
        <div class="card-precio">
          <span class="precio-actual">{{ p.precio }}€</span>
          <span class="precio-anterior" *ngIf="p.precioAnterior">{{ p.precioAnterior }}€</span>
        </div>
      </div>
    </a>
  </div>

  <p *ngIf="!loading && productos.length === 0" class="empty">No hay productos en esta categoría.</p>
</div>